---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout title="Chaos Modpack">
  <hgroup class="text-center my-32">
    <h1 class="text-8xl">Chaos</h1>
    <p class="text-2xl">A modpack mixing mods from any genres.</p>
  </hgroup>
  <div class="m-auto flex justify-center gap-6 text-2xl">
    <p>Explore</p>
    <p>Docs</p>
    <p>Code</p>
  </div>
</MainLayout>

