---
import Link from "@components/Link.astro";

import { Icon } from "astro-icon/components";
---

<section class="h-lvh flex flex-col justify-center gap-16">
  <!-- Logo & Description -->
  <div class="flex flex-col gap-8">
    <Icon class="m-auto text-8xl" name="chaos" />
    <p class="text-2xl text-center">A modpack mixing mods from any genres.</p>
  </div>
  <!-- Buttons -->
  <div class="flex justify-center gap-6 text-2xl">
    <Link href="/docs" style="button" openInNewTab>Docs</Link>
    <Link href="https://github.com/7rs/chaos" style="button" icon="simple-icons:github" openInNewTab>Code</Link>
  </div>
</section>
