---
import Heading from "@components/Heading.astro";
---

<section id="requirements">
  <Heading title="Requirements" depth={2} className="" />
  <table class="m-auto text-2xl">
    <tbody>
      <tr>
        <th>Version</th>
        <td>Minecraft Java Edition 1.20.1</td>
      </tr>
      <tr>
        <th>Mod Loader</th>
        <td>Forge</td>
      </tr>
      <tr>
        <th>Launcher</th>
        <td>Prism Launcher (Optional)</td>
      </tr>
    </tbody>
  </table>
</section>
