---
import Link from "../components/Link..astro";

export interface Props {
}

const { } = Astro.props;
---

<header class="sticky inset-0 px-4 py-1 w-full backdrop-blur-lg flex justify-between">
  <a href="/" class="text-4xl py-2"><slot /></a>
</header>

<style lang="sass">
  header
    z-index: 100
    display: block
</style>
